<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
 <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"

     />
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Taxi"
        android:name=".main_activites.App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taxi"
        tools:targetApi="31">
        <meta-data
            android:name="MapKitFactory.setApiKey"
            android:value="52eb0455-d7e5-4526-a6e4-ca5699d8a4b"/>

        <activity
            android:name=".utils.Navigation_menu"
            android:exported="false" />


        <activity
            android:name=".authoriztion.RegisterScreen"
            android:exported="false" />
        <activity
            android:name=".authoriztion.LoginScreen"
            android:exported="false" />


        <activity
            android:name=".main_activites.Zakaz"
            android:exported="true" />

        <activity
            android:name=".main_activites.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
    </application>

</manifest>